.btn {
  text-align: center;
  padding-top: 25px;
}

.button {
  background-color: rgb(32, 106, 243);
  color: white;
  font-weight: bold;
  height: 30px;
  width: 80px;
  border-radius: 6px;
}

.home-description {
  text-align: center;
}

.search-description {
  padding-top: 100px;
  border-style: solid;
  border-color: #fff56e;
  height: 200px;
  text-align: center;
}

.input-box {
  height: 30px;
  width: 600px;
}

h1 {
  text-align: center;
  color: rgb(45, 110, 231);
  font-size: 70px;
}

.results-container {
}
